body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    text-decoration: none;
}

ul,
ol{
    list-style-type: none;
}

button{
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul, ol{
    margin: 0;
    padding-left: 0;
}

/* #region header*/

.container-header{
display: flex;
justify-content: space-between;
}

.header-page{
padding: 24px 0;
border-bottom: 1px solid #e7e9fc;
}

.nav-page{
display: flex;
}

.logo-header{
    margin-right: 76px;
font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-style{
color: #2e2f42;
}

.nav-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.nav-item{

}

.nav-item-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
padding: 24px 0;
color: #2e2f42;
}

.nav-item-link:hover,
.nav-item-link:focus{
    color: #404bbf;
}

.address-page{
    font-style: normal
}

.address-list{
display: flex;
gap: 40px;
}

.address-item{

}

.head-address{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.head-address:hover,
.head-address:focus{
    color: #404BBF;
}


.title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto 48px;
}
/* #endregion */

.sect-hero{
    padding: 72px 6px;
    height: 600px;
    background-color: #2e2f42;
    padding: 188px;
}

.btn{
font-family: "Roboto", sans-serif;
background-color: #4D5AE5;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
font-weight: 500;
margin: 0 auto;
display: block;
padding: 16px 32px;
border-radius: 4px;
border: none;
}

.btn:hover, .btn:focus{
    background-color: #404BBF;
}

.sect-two{
text-align: left;
}

.sect-two-list{
display: flex;
justify-content: center;
gap: 24px;
padding: 120px 0 116px 0;
justify-content: baseline;
}

.sect-two-item{
max-width: 264px;
}

.title-two{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.title-three{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
padding: 32px 8px 0;
}

.text-sect-one{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
padding: 0 32px;
}
.title-three .text-sect-one{
    max-width: 232;
}
.sect-three{
    background-color: #F4F4FD;
}

.sect-three-list{
background-color: #F4F4FD;
display: flex;
gap: 24px;
padding: 72px 0 116px 0;
width: calc((100% - 72px) / 4);
}

.spisok-tri{
    background-color: #FFFFFF;
border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
}

.img-block-our-team {
    box-sizing: content-box;
    object-fit: contain;
}

.cont-sect-three{

}

.sect-img{
justify-content: center;
align-items: center;
}

.title-four {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
padding-top: 124px;
}

.sect-four-list{
display: flex;
object-fit: contain;
flex-wrap: wrap;
padding: 72px 0 120px 0;
gap: 48px 24px;
justify-content: center;
}

.sect-four-item{
    width: calc((100% - 48px) / 3);
}

.img-block{

}

.title-four{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.text-sect-four{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.container-sect-four{
    display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        border-bottom: 1px solid #e7e9fc;
            border-left: 1px solid #e7e9fc;
            border-right: 1px solid #e7e9fc;
            padding: 32px 16px;
            width: 360px;
            height: 120px;
}

.title-sect-four{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.text-sect-four{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer {
    display: flex;
    padding: 100px 0;
    background: #2e2f42;
}

.logo-style-footer {
    color: #f4f4fd;
}

.text-footer {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}
