body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
}

ul,
ol{
    list-style-type: none;
}

button{
    cursor: pointer;
}

/* #region header*/
.header-page{

}

.nav-page{

}

.logo-header{
font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-style{
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
color: #2e2f42;
}

.nav-list{

}

.nav-item{
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-item-link{
color: #2e2f42;
}

.nav-item-link:hover,
.nav-item-link:focus{
    color: #404bbf;
}

.address-page{
    font-style: normal
}

.head-address{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.head-address:hover,
.head-address:focus{
    color: #404BBF;
}


.title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    background-color: #2E2F42;
}
/* #endregion */

.sect-hero{
    background-color: #2e2f42;
}

.btn{
font-family: "Roboto", sans-serif;
background-color: #4D5AE5;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
}

.btn:hover, .btn:focus{
    background-color: #404BBF;
}

.title-four{
font-weight: 500;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.title-tw{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.title-three{
font-weight: 500;
font-size: 20px;
line-height: 1.2; 
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}

.text-sect-one{
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.sect-three{
    background-color: #F4F4FD

}

.spisok-tri{
    background-color: #FFFFFF

}



.footer{
    background-color: #2e2f42;

}

.logo-footer{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logo-style-footer{
    color: #f4f4fd;

}
.text-footer{
line-height: 1.5;
color: #F4F4FD;
letter-spacing: 0.02em
}

.title-sect-four{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.text-sect-four{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}